/* Basic */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
    background: black;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}	

.container {
    max-width: 42em;
    margin: 0 auto;
}

main {
    outline:none;
}

/* Headers */
h1 {
    font-size: 1.35em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

/* Links */

a {
    color: #a7d9e8;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:hover,
a:focus {
    color: #a31d1d;
    border-bottom: 1px solid rgba(163, 29, 29, .5);
}

a:active {
    color: #a31d1d;
    opacity: 0.9;
    border-bottom: 1px solid rgba(163, 29, 29, .5);
}

a.active {
    color: #a31d1d;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, 
a.skip-main:active {
    left: auto;
    top: 0px;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding: 4px 6px 4px 6px;
    text-decoration: underline;
    border: none;
}

/* Table */
.table-wrapper {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-spacing: 0;
}

thead {
    background: lightgrey;
}

th, td {
    padding: 0.5em 1em;
    border: 1px double lightgrey;
}

/* Code */
pre {
    padding: 1em;
    background-color: #6b6a6a;
    max-width: 100%;
    overflow: auto;
}

code,
pre,
kbd {
    font-family: monospace;
    font-size: 0.90em;
    line-height: 154%;
}

/* Styles */

blockquote {
    border-left: 2px solid #cccccc;
    padding: 0.1em 1em;
    margin-left: 0.75em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
}

ul ol, ol ol, ul ul {
    margin: 0em 2em;
}

/* Header */
header {
    display: block;
}

.site-header {
    text-align: center;
    white-space: nowrap
}

header nav {
    margin-top: 1em;
    max-width: 100%;
    text-align: center;
    background-color: #3a3a3a;
    padding: 0.5em 0;
}

header nav a:first-of-type {
    margin-left: 0;
}

header nav a {
    margin-left: 5%;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0;
}

header h2 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

/* Pages */
main h1 {
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.post-short-list:first-of-type {
    margin-top: 1em;
}

/* Articles */


article:not(:last-of-type) {
    border-bottom: thin solid #f1f1f1;
    padding-bottom: 2em;
}

article header h1 {
    font-size: 1.35em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

article header h1 a {
    border: none;
    text-decoration: none;
}

.article-info {
    font-size: 0.75em;
    color: grey;
    margin-top: 1em;
}

.article-info a {
    color: grey;
}

.article-info a:hover {
    color: #a31d1d;
}

.post-short-list .article-info {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.article-taxonomies {
    display: inline;
}

.article-date {
    white-space: nowrap;
}

.article-categories {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.article-categories li {
    display: inline;
    margin-right: 1em;
}

.article-tags {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.article-tags li {
    display: inline;
    margin-right: 1em;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
    border-radius: 20px;
}

video {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
    border-radius: 20px;
}

.read-more {
    font-size: 0.85em;
}

.divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: thin solid #f1f1f1;
    width: 25%;
    margin: 1em auto;
}

.post-summary {
    margin-top: 0.5em;
    display: block;
}

.post-summary > p {
    display: block;
}

/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.pagination {
    text-align: center;   
}

.pagination-item {
    background: #3a3a3a;
    color: white;
    padding: 0.75em 0.75em;
}

.disabled {
    visibility: hidden;
}

.pagination-item a:hover, .pagination-item   a:focus {
    color: #a31d1d;
    border-bottom: 0;
}

/* Footer */
footer {
    display: flex;
    border-top: thin solid #f1f1f1;
    margin-top: 1em;
    font-size: 16px;
    padding: 1em;
    font-style: italic;
    p {
        margin: auto;
    }
}

/* Media Queries */
@media (max-width: 840px) {
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

}
