{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}{{ config.title }} | Tags{% endblock title%}

{% block content %}
<h1>Tags</h1>

<ul class="terms">
    {% for term in terms %}
    <li>
        <a href="{{ term.permalink }}">
        #{{ term.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
