{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block meta %}
<title>{{ config.title }} | #{{ term.name }}</title>
<meta property="og:type" content="website">
<meta property="og:url" content="{{ current_url }}">
<meta property="og:title" content="{{ config.title }} | #{{ term.name }}">
<meta property="og:description" content="List of posts with tag #{{ term.name }}">
{% endblock meta %}

{% block content %}
<h1>Tag: #{{ term.name }}</h1>
<div class="article-info">
    <a href="{{ get_url(path="/tags") }}">To all tags</a>
</div>

{% for page in term.pages %}
{{ page_macros::page_listing(page=page) }}
{% endfor %}

{% endblock content %}
