{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block meta %}
<title>{{ config.title }} | {{ page.title }}</title>
<meta property="og:type" content="website">
<meta property="og:url" content="{{ config.base_url }}">
<meta property="og:title" content="{{ config.title }} | {{ page.title }}">
<meta property="og:description" content="{{ page.summary }}">
{% if page.extra.image %}<meta property="og:image" content="{{ config.base_url }}/{{ page.extra.image }}">{% endif %}
{% endblock meta %}

{% block content %}
<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    {% if page.extra.image %}<img src="{{ config.base_url }}{{ page.extra.image }}" alt="Featured image">{% endif %}
    {% if page.extra.video %}<video controls src="{{ page.extra.video }}" type="video/mp4"></video>{% endif %}
    <div class="content">
        {{ page.content | safe }}
    </div>

    {{ page_macros::page_info(page=page) }}
</article>

{% endblock content %}
